html {
  width: 100% !important;
  height: 100% !important;
}

body {
  width: inherit;
  height: inherit;
  overflow: hidden;
  position: relative !important;
}

#app {
  display: flex;
  width: inherit;
  height: inherit;
  flex-direction: column;
  background-color: transparent;
}
